/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url("droidserif.woff2") format("woff2"), url("droidserif.woff") format("woff"), url("droidserif.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("droidserifitalic.woff2") format("woff2"), url("droidserifitalic.woff") format("woff"), url("droidserifitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url("droidserifbold.woff2") format("woff2"), url("droidserifbold.woff") format("woff"), url("droidserifbold.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 700;
  src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"), url("droidserifbolditalic.woff2") format("woff2"), url("droidserifbolditalic.woff") format("woff"), url("droidserifbolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("montserrat-v15-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("montserrat-v15-latin_cyrillic-700.woff") format("woff");
}
html { font: 15px/24px "Droid Serif"; background: rgb(247, 247, 247) none repeat scroll 0% 0%; color: rgb(68, 68, 68); }
body { margin: 0px; }
a { background: transparent none repeat scroll 0px 0px; }
a:active, a:hover { outline: 0px none; }
.uk-link, a { color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer; }
.uk-link:hover, a:hover { color: rgba(68, 68, 68, 0.6); text-decoration: none; }
b, strong { font-weight: 700; }
em { color: rgb(221, 0, 85); }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
audio, canvas, img, svg, video { max-width: 100%; height: auto; box-sizing: border-box; }
img { border: 0px none; }
address, blockquote, dl, fieldset, figure, ol, p, pre, ul { margin: 0px 0px 15px; }
* + address, * + blockquote, * + dl, * + fieldset, * + figure, * + ol, * + p, * + pre, * + ul { margin-top: 15px; }
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 15px; font-family: Montserrat; font-weight: 700; color: rgb(51, 51, 51); text-transform: uppercase; }
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 { margin-top: 25px; }
.uk-h1, h1 { font-size: 39px; line-height: 45px; }
.uk-h2, h2 { font-size: 26px; line-height: 33px; }
.uk-h3, h3 { font-size: 18px; line-height: 22px; }
@media (max-width: 450px) {
  .uk-h1, h1 { font-size: 20px; line-height: 24px; }
  .uk-h2, h2 { font-size: 13px; line-height: 16px; }
  .uk-h3, h3 { font-size: 9px; line-height: 11px; }
}
ol, ul { padding-left: 30px; }
ol > li > ol, ol > li > ul, ul > li > ol, ul > li > ul { margin: 0px; }
*::-moz-selection { background: rgba(254, 94, 34, 0.8) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-shadow: none; }
*::selection { background: rgba(254, 94, 34, 0.8) none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-shadow: none; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }
@media screen and (max-width: 400px) {
}
a { transition: border-color 0.1s ease 0s, background 0.1s ease 0s, color 0.1s ease-in-out 0s; }
a:hover { text-decoration: none; }
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 { letter-spacing: 2px; }
.uk-grid { display: flex; flex-wrap: wrap; margin: 0px; padding: 0px; list-style: outside none none; }
.uk-grid::after, .uk-grid::before { content: ""; display: block; overflow: hidden; }
.uk-grid::after { clear: both; }
.uk-grid > * { flex: 0 0 auto; margin: 0px; float: left; }
.uk-grid > * > :last-child { margin-bottom: 0px; }
.uk-grid { margin-left: -20px; }
.uk-grid > * { padding-left: 20px; }
@media (min-width: 1220px) {
  .uk-grid { margin-left: -30px; }
  .uk-grid > * { padding-left: 30px; }
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
[class*="uk-width"] { box-sizing: border-box; width: 100%; }
.uk-width-1-1 { width: 100%; }
@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .uk-width-medium-1-1 { width: 100%; }
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 768px) {
}
.uk-panel { display: block; position: relative; }
.uk-panel, .uk-panel:hover { text-decoration: none; }
.uk-panel::after, .uk-panel::before { content: ""; display: table; }
.uk-panel::after { clear: both; }
.uk-panel > :last-child:not(.uk-panel-title) { margin-bottom: 0px; }
.uk-panel-box { padding: 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(68, 68, 68); }
@media (min-width: 1220px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
.uk-article { box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.34); }
.uk-article::after, .uk-article::before { content: ""; display: table; }
.uk-article::after { clear: both; }
.uk-article > :last-child { margin-bottom: 0px; }
@media (min-width: 768px) {
}
.uk-nav, .uk-nav ul { margin: 0px; padding: 0px; list-style: outside none none; }
.uk-nav li > a { display: block; text-decoration: none; }
.uk-nav > li > a { padding: 5px 0px; white-space: nowrap; }
.uk-nav ul { padding-left: 15px; }
.uk-nav ul a { padding: 2px 0px; }
ul.uk-nav-sub { padding: 5px 10px; }
.uk-nav-navbar > li > a { color: rgba(68, 68, 68, 0.6); }
.uk-nav-navbar > li > a:focus, .uk-nav-navbar > li > a:hover { background: transparent none repeat scroll 0% 0%; color: rgb(68, 68, 68); outline: 0px none; }
.uk-nav-offcanvas > li > a { color: rgba(255, 255, 255, 0.8); padding: 10px 30px; }
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover { background: transparent none repeat scroll 0% 0%; color: rgba(255, 255, 255, 0.5); outline: 0px none; }
.uk-nav-offcanvas ul a { color: rgba(255, 255, 255, 0.5); }
html:not(.uk-touch) .uk-nav-offcanvas ul a:hover { color: rgba(255, 255, 255, 0.8); }
.uk-nav-dropdown > li.uk-active > a, .uk-nav > li.uk-active > a { color: rgb(68, 68, 68); }
.uk-panel-box .uk-nav-side, body .uk-dropdown .uk-nav { margin: 0px; }
.uk-nav-offcanvas ul.uk-nav-sub { padding-left: 40px; }
.uk-navbar { color: rgb(51, 51, 51); }
.uk-navbar::after, .uk-navbar::before { content: ""; display: table; }
.uk-navbar::after { clear: both; }
.uk-navbar-nav { margin: 0px; padding: 0px; list-style: outside none none; float: left; }
.uk-navbar-nav > li { float: left; position: relative; }
.uk-navbar-nav > li > a { display: block; box-sizing: border-box; text-decoration: none; height: 90px; padding: 0px 15px; line-height: 90px; color: rgb(51, 51, 51); font-size: 14px; font-family: Montserrat; font-weight: 400; text-transform: uppercase; }
.uk-navbar-nav > li > a[href="#"] { cursor: text; }
.uk-navbar-nav > li.uk-open > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus { background-color: transparent; color: rgb(254, 94, 34); outline: 0px none; }
.uk-navbar-nav > li > a:active { background-color: transparent; color: rgb(236, 65, 1); }
.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle { box-sizing: border-box; display: block; height: 90px; padding: 0px 15px; float: left; }
.uk-navbar-brand::before, .uk-navbar-content::before, .uk-navbar-toggle::before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.uk-navbar-toggle { font-size: 18px; color: rgb(68, 68, 68); text-decoration: none; }
.uk-navbar-toggle:focus, .uk-navbar-toggle:hover { color: rgb(68, 68, 68); text-decoration: none; outline: 0px none; }
.uk-navbar-toggle::after { content: ""; font-family: FontAwesome; vertical-align: middle; }
.uk-navbar-center { float: none; text-align: center; max-width: 50%; margin-left: auto; margin-right: auto; }
.uk-navbar-attached { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgba(68, 68, 68, 0.08); }
.uk-breadcrumb { padding: 0px; list-style: outside none none; font-size: 0.001px; }
.uk-breadcrumb > li { font-size: 0.8rem; vertical-align: top; }
.uk-breadcrumb > li, .uk-breadcrumb > li > a, .uk-breadcrumb > li > span { display: inline-block; text-decoration: none; }
.uk-breadcrumb > li:nth-child(n+2)::before { content: ""; display: inline-block; margin: 0px 8px; font-family: FontAwesome; color: rgba(68, 68, 68, 0.25); }
.uk-breadcrumb > li:not(.uk-active) > span { color: rgba(68, 68, 68, 0.25); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.uk-table { border-collapse: collapse; border-spacing: 0px; width: 100%; margin-bottom: 15px; }
.uk-table-wrapper { overflow-x: auto; }
.uk-table td, .uk-table th { padding: 8px; border-bottom: 1px solid rgb(221, 221, 221); }
.uk-table td { vertical-align: middle; }
.uk-table-striped tbody tr:nth-of-type(2n+1) { background: rgba(34, 34, 34, 0.02) none repeat scroll 0% 0%; }
.uk-table-condensed td { padding: 4px 8px; }
.uk-table-hover tbody tr:hover { background: rgba(34, 34, 34, 0.04) none repeat scroll 0% 0%; }
@media (max-width: 959px) {
}
@media (min-width: 960px) {
}
.uk-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.uk-button { -moz-appearance: none; margin: 0px; overflow: visible; font-style: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; color: rgb(68, 68, 68); display: inline-block; box-sizing: border-box; padding: 0px 12px; background: transparent none repeat scroll 0% 0%; vertical-align: middle; line-height: 30px; min-height: 30px; font-size: 0.6rem; text-decoration: none; text-align: center; border: 2px solid rgb(68, 68, 68); font-family: Montserrat; font-weight: 400; text-transform: uppercase; letter-spacing: 2px; transition: border-color 0.1s ease 0s, background 0.1s ease 0s, color 0.1s ease-in-out 0s; }
.uk-button:not(:disabled) { cursor: pointer; }
.uk-button:focus, .uk-button:hover { background-color: rgb(254, 94, 34); color: rgb(255, 255, 255); outline: 0px none; text-decoration: none; border-color: transparent; }
.uk-button.uk-active, .uk-button:active { background-color: rgb(236, 65, 1); color: rgb(255, 255, 255); }
.uk-button:disabled { background-color: transparent; color: rgba(68, 68, 68, 0.25); border-color: transparent; }
.uk-button-small { min-height: 26px; padding: 0px 10px; line-height: 26px; font-size: 10px; }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype");
}
[class*="uk-icon-"] { font-family: FontAwesome; display: inline-block; font-weight: 400; font-style: normal; line-height: 1; }
[class*="uk-icon-"], [class*="uk-icon-"]:focus, [class*="uk-icon-"]:hover { text-decoration: none; }
.uk-icon-chevron-up::before { content: ""; }
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
@media screen {
}
@keyframes uk-fade {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes uk-fade {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes uk-fade-top {
0% { opacity: 0; transform: translateY(-100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-fade-top {
0% { opacity: 0; transform: translateY(-100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-fade-bottom {
0% { opacity: 0; transform: translateY(100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-fade-bottom {
0% { opacity: 0; transform: translateY(100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-fade-left {
0% { opacity: 0; transform: translateX(-100%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes uk-fade-left {
0% { opacity: 0; transform: translateX(-100%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes uk-fade-right {
0% { opacity: 0; transform: translateX(100%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes uk-fade-right {
0% { opacity: 0; transform: translateX(100%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes uk-fade-scale-02 {
0% { opacity: 0; transform: scale(0.2); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-fade-scale-02 {
0% { opacity: 0; transform: scale(0.2); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-fade-scale-15 {
0% { opacity: 0; transform: scale(1.5); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-fade-scale-15 {
0% { opacity: 0; transform: scale(1.5); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-fade-scale-18 {
0% { opacity: 0; transform: scale(1.8); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-fade-scale-18 {
0% { opacity: 0; transform: scale(1.8); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes uk-slide-left {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-left {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-right {
0% { transform: translateX(100%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-right {
0% { transform: translateX(100%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-left-33 {
0% { transform: translateX(33%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-left-33 {
0% { transform: translateX(33%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-right-33 {
0% { transform: translateX(-33%); }
100% { transform: translateX(0px); }
}
@keyframes uk-slide-right-33 {
0% { transform: translateX(-33%); }
100% { transform: translateX(0px); }
}
@keyframes uk-scale-12 {
0% { transform: scale(1.2); }
100% { transform: scale(1); }
}
@keyframes uk-scale-12 {
0% { transform: scale(1.2); }
100% { transform: scale(1); }
}
@keyframes uk-rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes uk-rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes uk-shake {
0%, 100% { transform: translateX(0px); }
10% { transform: translateX(-9px); }
20% { transform: translateX(8px); }
30% { transform: translateX(-7px); }
40% { transform: translateX(6px); }
50% { transform: translateX(-5px); }
60% { transform: translateX(4px); }
70% { transform: translateX(-3px); }
80% { transform: translateX(2px); }
90% { transform: translateX(-1px); }
}
@keyframes uk-shake {
0%, 100% { transform: translateX(0px); }
10% { transform: translateX(-9px); }
20% { transform: translateX(8px); }
30% { transform: translateX(-7px); }
40% { transform: translateX(6px); }
50% { transform: translateX(-5px); }
60% { transform: translateX(4px); }
70% { transform: translateX(-3px); }
80% { transform: translateX(2px); }
90% { transform: translateX(-1px); }
}
@keyframes uk-slide-top-fixed {
0% { opacity: 0; transform: translateY(-10px); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-slide-top-fixed {
0% { opacity: 0; transform: translateY(-10px); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-slide-bottom-fixed {
0% { opacity: 0; transform: translateY(10px); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes uk-slide-bottom-fixed {
0% { opacity: 0; transform: translateY(10px); }
100% { opacity: 1; transform: translateY(0px); }
}
.uk-dropdown, .uk-dropdown-blank { display: none; position: absolute; z-index: 1020; box-sizing: border-box; }
.uk-dropdown { padding: 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(68, 68, 68); font-size: 1rem; vertical-align: top; border: 1px solid rgba(68, 68, 68, 0.08); }
.uk-dropdown:focus { outline: 0px none; }
.uk-dropdown .uk-nav { margin: 0px -30px; }
@media (min-width: 768px) {
  .uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid { margin-left: -30px; margin-right: -30px; }
  .uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid > [class*="uk-width-"] { padding-left: 30px; padding-right: 30px; }
  .uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid > [class*="uk-width-"]:nth-child(n+2) { border-left: 2px solid rgba(68, 68, 68, 0.08); }
}
@media (max-width: 767px) {
  .uk-dropdown-grid > [class*="uk-width-"] { width: 100%; }
  .uk-dropdown-grid > [class*="uk-width-"]:nth-child(n+2) { margin-top: 30px; }
}
.uk-dropdown-navbar { margin-top: -20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(68, 68, 68); }
.uk-navbar-attached .uk-dropdown-navbar { margin-top: 10px; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1220px) {
}
.uk-offcanvas { display: none; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000; touch-action: none; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
.uk-offcanvas-bar { position: fixed; top: 0px; bottom: 0px; left: 0px; transform: translateX(-100%); z-index: 1001; width: 270px; max-width: 100%; background: rgb(51, 51, 51) none repeat scroll 0% 0%; overflow-y: auto; transition: transform 0.3s ease-in-out 0s; }
.uk-text-center { text-align: center ! important; }
@media (max-width: 959px) {
}
@media (max-width: 767px) {
}
.uk-container { box-sizing: border-box; max-width: 100%; padding: 0px 20px; }
@media (min-width: 1220px) {
  .uk-container { max-width: 1200px; padding: 0px 30px; }
}
@media (max-width: 468px) {
  .uk-container { padding: 0px; }
  .tm-footer, .tm-main-top, .tm-navbar { padding: 0px 20px; }
}
.uk-container::after, .uk-container::before { content: ""; display: table; }
.uk-container::after { clear: both; }
.uk-container-center { margin-left: auto; margin-right: auto; }
@media (min-width: 768px) {
}
.uk-margin-bottom { margin-bottom: 15px ! important; }
.uk-margin-large { margin-bottom: 50px; }
.uk-margin-bottom-remove { margin-bottom: 0px ! important; }
@media (min-width: 768px) {
}
@media (min-width: 960px) {
  .uk-hidden-large { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 959px) {
  .uk-visible-large { display: none ! important; }
}
@media (max-width: 767px) {
  .uk-visible-large { display: none ! important; }
  .uk-hidden-small { display: none ! important; }
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1220px) {
}
@media print {
  *, *::after, *::before { background: transparent none repeat scroll 0px 0px ! important; color: rgb(0, 0, 0) ! important; box-shadow: none ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  h2, h3, p {  }
  h2, h3 { page-break-after: avoid; }
}
@media (max-width: 767px) {
}
@keyframes uk-progress-bar-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 30px 0px; }
}
@keyframes uk-progress-bar-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 30px 0px; }
}
.tm-block { box-sizing: border-box; padding-bottom: 20px; background: rgb(247, 247, 247) url("tiles-bg.svg") repeat scroll 0% 0%; }
.tm-block-alt, .tm-block-alt + .tm-block, .tm-block-image, .tm-block-image + .tm-block, .tm-block:first-child, .tm-bottom-c + .tm-footer { padding-top: 20px; }
@media (min-width: 1220px) {
  .tm-block { padding-bottom: 30px; }
  .tm-block-alt, .tm-block-alt + .tm-block, .tm-block-image, .tm-block-image + .tm-block, .tm-block:first-child, .tm-bottom-c + .tm-footer { padding-top: 30px; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 958px) {
  .tm-content-padding .tm-block-middle { padding-top: 50px; padding-bottom: 70px; }
}
@media (max-width: 957px) {
  .tm-content-padding .tm-block-middle { padding-top: 0px; padding-bottom: 0px; }
}
.tm-block-alt + .tm-block-alt:not(.tm-block-divider), .tm-block-image + .tm-block-image:not(.tm-block-divider), .tm-block-padding-large:not(.tm-block-alt):not(.tm-block-image) + .tm-block:not(.tm-block-alt):not(.tm-block-image):not(.tm-block-divider), .tm-content-padding .tm-block-middle + .tm-block:not(.tm-block-alt):not(.tm-block-image):not(.tm-block-divider) { padding-top: 0px ! important; }
@media (min-width: 1220px) {
}
.tm-block.tm-block-image { background: transparent url("bg.jpg") no-repeat scroll 50% 50% / cover ; }
.uk-notouch .tm-block.tm-block-image { background-attachment: fixed; }
@media (max-width: 959px) {
  .uk-navbar-brand, .uk-navbar-content, .uk-navbar-nav > li > a, .uk-navbar-toggle { height: 60px; }
  .uk-navbar-toggle { padding-left: 0px; }
}
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) { color: rgb(0, 0, 0); }
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-nav > li > a { text-shadow: -1px -1px 0px rgb(230, 238, 249), 1px -1px 0px rgb(230, 238, 249), -1px 1px 0px rgb(230, 238, 249), 1px 1px 0px rgb(230, 238, 249); color: rgb(0, 0, 0); }
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-nav > li.uk-open > a, .tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-nav > li:hover > a, .tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-nav > li > a:focus { color: rgb(254, 94, 34); }
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-nav > li > a:active { color: rgb(236, 65, 1); }
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-toggle { color: rgb(255, 255, 255); }
.tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-toggle:focus, .tm-navbar-fullscreen-contrast:not(.uk-navbar-attached) .uk-navbar-toggle:hover { color: rgb(255, 255, 255); }
.tm-navbar .tm-navbar-wrapper { position: relative; display: table; width: 100%; height: 100%; }
.tm-navbar .tm-navbar-wrapper .tm-nav { display: table-cell; vertical-align: middle; text-align: center; }
.tm-navbar .tm-navbar-wrapper .tm-nav .tm-nav-wrapper { display: inline-block; vertical-align: top; }
.tm-navbar .tm-navbar-wrapper .tm-nav .tm-nav-wrapper > .uk-navbar-nav > li { text-align: left; }
.tm-navbar.uk-navbar-attached { z-index: 1000; }
.tm-navbar.uk-navbar-attached .tm-logo img, .tm-navbar.uk-navbar-attached .tm-logo svg { vertical-align: middle; }
.tm-navbar.uk-navbar-attached .tm-nav { padding-left: 125px; }
.tm-navbar.uk-navbar-attached .tm-nav-logo { position: absolute; top: -5px; }
.tm-navbar.uk-navbar-attached .tm-nav-logo { max-width: 125px; }
.tm-navbar:not(.uk-navbar-attached) .tm-nav-top-contacts { top: -100px; position: absolute; right: 0px; }
@media (max-width: 958px) {
  .uk-navbar-attached { min-height: inherit; }
}
.tm-navbar:not(.uk-navbar-attached) { position: absolute; right: 0px; left: 0px; z-index: 10; }
.tm-navbar:not(.uk-navbar-attached) .tm-nav-logo { position: absolute; left: 50%; transform: translateX(-50%); }
.tm-navbar:not(.uk-navbar-attached) .tm-nav-logo { top: -135px; }
@media (min-width: 960px) {
  .tm-navbar:not(.uk-navbar-attached) { top: 130px; }
}
@media (max-width: 1219px) {
}
@media (min-width: 960px) {
}
.tm-logo-small { letter-spacing: -0.31em; }
.tm-logo-small img, .tm-logo-small svg { vertical-align: middle; }
@media (max-width: 767px) {
  .uk-navbar-center { max-width: 80%; }
}
.tm-main > :nth-child(n+2) { margin-top: 20px; }
.tm-content > :last-child { margin-bottom: 0px; }
@media (min-width: 1220px) {
  .tm-main > :nth-child(n+2) { margin-top: 30px; }
}
.tm-totop-scroller { width: 26px; height: 25px; margin-top: 20px; padding: 0px; line-height: 22px; letter-spacing: 0px; }
@media (min-width: 768px) {
  .tm-totop-scroller { margin-top: 30px; }
}
.tm-content-boxed .tm-content .uk-panel-header, .tm-content-boxed .uk-article, .tm-content-boxed .uk-article .uk-panel-header, .tm-content-boxed .uk-tab > li.uk-active > a, .tm-noblog.tm-content-boxed .tm-content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.tm-content-boxed .tm-content .uk-panel-header, .tm-content-boxed .uk-article .uk-panel-header, .tm-content-boxed .uk-article:not(.tm-article-blog-featured-image), .tm-noblog.tm-content-boxed .tm-content { padding: 35px; }
@media (max-width: 767px) {
  .tm-content-boxed .tm-content .uk-panel-header, .tm-content-boxed .uk-article .uk-panel-header, .tm-content-boxed .uk-article:not(.tm-article-blog-featured-image), .tm-noblog.tm-content-boxed .tm-content { padding: 20px; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (max-width: 370px) {
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (max-width: 959px) {
}
@font-face {
  font-family: "yootheme";
  font-style: normal;
  font-weight: 400;
  src: url("yootheme.eot") format("embedded-opentype"), url("yootheme.woff") format("woff"), url("yootheme.ttf") format("truetype"), url("yootheme.svg") format("svg");
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
.tm-block-image .tm-footer, .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) { color: rgb(255, 255, 255); }
.tm-block-image .tm-footer .uk-button:not(.uk-button-primary):not(.uk-button-success):not(.uk-button-danger):not(:hover):not(:focus), .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-button:not(.uk-button-primary):not(.uk-button-success):not(.uk-button-danger):not(:hover):not(:focus) { color: rgb(255, 255, 255); }
.tm-block-image .tm-footer .uk-button:focus, .tm-block-image .tm-footer .uk-button:hover, .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-button:focus, .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-button:hover { color: rgb(255, 255, 255); }
.tm-block-image .tm-footer .uk-button:not(.uk-button-primary):not(.uk-button-success):not(.uk-button-danger):not(:hover):not(:focus), .tm-block-image .tm-footer .uk-form input, .tm-block-image .tm-footer.uk-panel-header .uk-panel-title, .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-button:not(.uk-button-primary):not(.uk-button-success):not(.uk-button-danger):not(:hover):not(:focus), .tm-block-image .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-form input, .tm-block-image .uk-panel.uk-panel-header:not(.tm-panel-box-default):not(.uk-panel-box-primary) .uk-panel-title { border-color: rgb(255, 255, 255); }
.tm-block-image .tm-footer .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) a, .tm-block-image .tm-footer a { color: rgba(255, 255, 255, 0.7); }
.tm-block-image .tm-footer .uk-panel:not(.tm-panel-box-default):not(.uk-panel-box-primary) a:hover, .tm-block-image .tm-footer a:hover { color: rgb(255, 255, 255); }
.tm-block-image .tm-footer a, .tm-block-image .tm-link-text-decoration-none a { text-decoration: none; }
@media (min-width: 768px) {
}
@media (min-width: 1220px) {
}
@media (max-width: 767px) {
}
.beadcrumb-wrapping { padding: 0px ! important; background: transparent none repeat scroll 0px 0px ! important; }
.dragscroll img { max-width: none; }
.tm-nav-top-contacts { position: absolute; top: 20px; right: 0px; }
@media (max-width: 1033px) {
  .tm-nav { padding-right: 100px; }
}
@media (max-width: 958px) {
  .tm-navbar:not(.uk-navbar-attached) .tm-nav-top-contacts { top: 0px; }
  .tm-nav-top-contacts { padding: 5px 0px; }
  .tm-nav-top-contacts { top: 0px; right: 0px; }
  .tm-nav { padding-right: 0px; }
}
@media (max-width: 466px) {
  #email, #phone { display: none; }
  .tm-nav-top-contacts { top: 0px; right: 30px; }
}
.tm-nav-top-contacts-email, .tm-nav-top-contacts-phone { display: flex; flex-wrap: nowrap; }
.top-icon { margin-right: 5px; }
.tm-nav-top-contacts a, .tm-nav-top-contacts a:hover { text-decoration: none; color: rgb(51, 51, 51); font-weight: 700; }
.red { color: rgb(193, 27, 5) ! important; }
.orange { color: rgb(246, 137, 72) ! important; }
.green { color: rgb(71, 153, 154) ! important; }
.uk-sticky-placeholder .uk-navbar-attached { position: fixed ! important; top: 0px; width: 100%; }
.tm-wrapper { margin-top: 91px; }
